<img class="js-chickendinner banner" alt="An image from a Ghibli film to calm the chaos of this site." src="/assets/images/headers/howl049.jpg"/>
<script>
    $('.js-chickendinner').chickenDinner({
        path: '/assets/images/headers/',
        fadeInTime: 500,
        TheImages: ['chihiro041.jpg',
                    'howl049.jpg',
                    'laputa040.jpg',
                    'majo037.jpg',
                    'totoro022.jpg',
                    'totoro029.jpg']
    });
</script>

