// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;
  font-size: 1.15rem;

  a {
    color: inherit;
    //text-decoration: inherit;
  }

  small {
    font-weight: 400;
    // opacity: 0.5;
  }
}


@media (min-width: 30em) {
  .masthead-title {
    font-size: 1.25rem;
  }
}

// Navbar styles
.nav {
  float: right;
  line-height: 1.25rem;
  word-spacing: 0.5rem;
}

small.contact{
    color: var(--flexoki-800);
    font-family: var(--header-font);
    font-style: italic;
    line-height: 1;
}
